Figures/
Files for meeting tomorrow/
files_from_craig/
PEOS data PHSI 490/
Readings for PHSI490/
CME events/
Mag_data/
=======
Intermag_data/
paper_data_or_figures/
*.mat
*.pdf
*.zip
*.asv
*.csv
*.fig
*.png